# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# Local Database
# =========================

*.db
*.sqlite
*.sqlite3

# =========================
# Uploaded Files
# =========================

uploads/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log